@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500');

html, body {
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(224, 224, 224);
  font-family: 'Roboto', sans-serif;
}

.title {
  font-size: 38px;
  font-weight: 100;
  color: #537791

}

.pomodoro-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #537791;
  padding: 15px;
  border-radius: 5px;
  width: 275px;
  font-weight: 300;
}

.timer-display {
  font-size: 100px;
  color: #f7f6e7;
  margin: 0;
  text-align: center;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.start:hover, .stop:hover, .reset:hover, .change-duration:hover {
  color: #f7f6e7
}

.start, .stop, .reset {
  border: none;
  background: none;
  font-size: 30px;
  color: #e7e6e1;
}

.stop {
  display: none;
}

.reset {
  display: none;
}

.change-duration {
  padding: 10px;
  font-size: 30px;
  color: #e7e6e1;
  margin: 0;
}

.timer-options {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-minute, .subtract-minute {
  border: none;
  background: none;
  color: #e7e6e1;
  font-size: 15px;
}

.input-time {
  text-align: center;
  font-size: 25px;
  color: #f7f6e7;
  background: none;
  border: none;
}

.add-minute:hover, .add-minute:active {
  color: #53916f
}

.subtract-minute:hover, .subtract-minute:active {
  color: #915353;
}

.error-message {
  color: #b83030;
  font-size: 15px;
  font-weight: 200;
}