html, body {
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e6e1;
}

.pomodoro-body {
  background-color: #537791;
  padding: 15px;
  border-radius: 5px;
}

.timer-display {
  font-size: 100px;
  color: #f7f6e7;
  margin: 0;
}

.start, .stop, .reset {
  border: none;
  background: none;
  font-size: 30px;
  color: #c1c0b9;
}

.stop {
  display: none;
}

.reset {
  display: none;
}

.adjust-time {}

.change-duration {
  padding: 10px;
  font-size: 30px;
}

.timer-options {
  display: none;
}

.input-time {}

.add-minute {}

.subtract-minute {}